@charset "UTF-8";
:root {
  --address-logo-color: #2196f3;
  --primaty-text-color: #212121;
  --tittle-tex-color: #757575;
  --background-color: #E5E5E5;
  --starter-color: #FFFFFF;
}

body {
  background-color: var(--starter-color);
  color: var(--tittle-tex-color);
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
}

.container {
  width: 1200px;
  /* padding-left: 15px;
    padding-right: 15px; */
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */
}

.header {
  background-color: var(--starter-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  border: 1px solid #ECECEC;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  text-decoration: none;
}

.logo__element {
  color: var(--address-logo-color);
}

.logo__accent {
  color: var(--primaty-text-color);
}

.header {
  background-color: var(--starter-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  border: 1px solid #ECECEC;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  text-decoration: none;
}

.logo__element {
  color: var(--address-logo-color);
}

.logo__accent {
  color: var(--primaty-text-color);
}

/*-------------------------- MAIN-NAV -------------------------*/
.header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Site-nav */
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-nav .nav__item + .nav__item {
  margin-left: 46px;
}

.site-nav .nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primaty-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .nav__link:hover,
.site-nav .nav__link:focus {
  color: var(--address-logo-color);
}

.site-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.site-contact .item + .item {
  margin-left: 50px;
}

.site-contact .contact__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--tittle-tex-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-contact .contact__link:hover,
.site-contact .contact__link:focus {
  color: var(--address-logo-color);
}

.contact-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-items {
  margin-top: 32px;
  margin-right: 10px;
  margin-bottom: 36px;
  margin-left: 30px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-items {
  fill: #757575;
}

.contact-items:hover {
  fill: var(--address-logo-color);
}

/*                    Підкреслення                      */
.nav__link {
  position: relative;
}

.nav__link:after {
  content: '';
  display: block;
  position: absolute;
  width: 58px;
  height: 4px;
  width: 0;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--address-logo-color);
  border-radius: 2px;
}

.nav__link:hover::after {
  width: 100%;
}

.features {
  margin-top: 94px;
}

.features-tittle {
  margin-bottom: 50px;
  margin-top: 94px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.cards-tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 94px;
}

.cards-tittle .cards__thumb + .cards__thumb {
  margin-left: 30px;
}

.cards__thumb {
  position: relative;
}

.cards__info {
  position: absolute;
  bottom: 5px;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-right: 90px;
  padding-bottom: 27px;
  padding-left: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--starter-color);
  background: rgba(47, 48, 58, 0.8);
}

.work {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: #F5F4FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__tittle {
  margin-top: 94px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 86px;
}

.work__figure {
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.work__name {
  border-left: 99px;
  border-right: 99px;
  border-bottom: 59px;
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.work__info {
  border-left: 97px;
  border-right: 97px;
  border-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.works__date .work__figure {
  margin-right: 30px;
}

.work__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}

.media__items {
  fill: #AFB1B8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 12px;
  padding-top: 12px;
  background-color: #FFFFFF;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
}

.work__media .media__items + .media__items {
  margin-left: 10px;
}

.media__items:hover,
.media__items:focus {
  fill: #FFFFFF;
  background-color: #2196f3;
}

.company__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 94px;
}

.company__bottom {
  background-color: #FFFFFF;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #afb1b8;
  background-color: #FFFFFF;
  cursor: pointer;
}

/* #afb1b8 колір емблем */
.company__bottom:hover {
  color: #2196f3;
  border-color: #2196f3;
}

.company__item {
  fill: currentColor;
}

.address-info {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  max-height: 252px;
}

.address-logo-element {
  color: var(--address-logo-color);
  text-decoration: none;
}

.address-logo-accent {
  color: var(--starter-color);
  text-decoration: none;
}

.address-contact {
  color: rgba(255, 255, 255, 0.6);
}

.address-street {
  color: var(--starter-color);
}

.address-contact {
  display: block;
  text-decoration: none;
  margin-top: 9px;
  width: 231px;
  height: 21px;
}

.address-contact:hover,
.address-contact:focus {
  color: var(--address-logo-color);
}

.address-info-footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--starter-color);
}

.logo-footer {
  display: block;
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
  margin-top: -99px;
}

.footer-contact {
  margin-bottom: 60px;
}

/*                        ADDRESS-SOCIAL                        */
.name-media {
  /* display: block;
    margin-right: -100px;
    margin-top: 12px; */
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--starter-color);
}

.h5-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 305px;
  margin-bottom: -15px;
  margin-top: 10px;
}

.address-items {
  display: inline-block;
  margin-left: 300px;
  margin-bottom: -65px;
  fill: #FFFFFF;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 12px;
  padding-top: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  /* margin-left: -230px; */
}

.address-social .address-items + .address-items {
  margin-left: 10px;
}

.address-items:hover,
.address-items:focus {
  fill: #FFFFFF;
  background-color: #2196f3;
}

/*                      Footer Telegram */
.footer-telegram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 700px;
}

.footer-h7 {
  margin-top: -20px;
  margin-left: -95px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-email input {
  margin-top: 20px;
  margin-left: -205px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  cursor: pointer;
}

.button-telegram {
  width: 200px;
  height: 50px;
  padding-left: 34px;
  margin-right: 12px;
  margin-top: 20px;
  margin-left: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--starter-color);
  border: 1px solid transparent;
  background-color: var(--address-logo-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.svg-telegram {
  margin-left: 20px;
  margin-right: 24px;
}

.footer-input::-webkit-input-placeholder {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding-left: 16px;
  width: 47px;
  height: 20px;
  left: 831px;
  top: 2802px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input:-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 16px;
  width: 47px;
  height: 20px;
  left: 831px;
  top: 2802px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input::-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 16px;
  width: 47px;
  height: 20px;
  left: 831px;
  top: 2802px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input::placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  width: 47px;
  height: 20px;
  left: 831px;
  top: 2802px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.logo,
.site-contact,
.site-nav {
  cursor: pointer;
}

.section__tittle,
.hero,
.features-tittle,
.work-tittle,
.work-name {
  color: var(--primaty-text-color);
}

.section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  /* height: 500px; */
}

.section__tittle {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--starter-color);
}

/*                        Button Main                        */
.section__button {
  display: inline-block;
  border-radius: 4px;
  padding-top: 13px;
  padding-right: 41px;
  padding-bottom: 10px;
  padding-left: 42px;
  min-width: 200px;
  border: 1px solid transparent;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--starter-color);
  background-color: var(--address-logo-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-tittle,
.work-info {
  color: var(--tittle-tex-color);
}

.section {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/peoples.jpg");
  background-position: center;
  background-color: #2F303A;
}

.section-hero {
  background-color: var(--starter-color);
  margin-top: 94px;
}

.cards {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.cards__hero {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.cards__hero-tittle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.cards .cards__set + .cards__set {
  margin-left: 30px;
}

.cards__items-size {
  display: block;
  content: '';
  height: 120px;
  /* width: 270px; */
  border-radius: 4px;
  border: 1px solid transparent;
  margin-bottom: 30px;
  background-color: #F5F4FA;
}

.cards__items {
  margin-top: 25px;
  margin-right: 100px;
  margin-bottom: 25px;
  margin-left: 100px;
}

.portfolio-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 94px;
  margin-bottom: 34px;
}

.portfolio-nav .item + .item {
  margin-left: 8px;
}

.portfolio-link {
  /* display: inline-block; */
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  min-width: 120px;
  border: 1px solid transparent;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primaty-text-color);
}

.portfolio-link:hover,
.portfolio-link:focus {
  color: var(--starter-color);
  background-color: var(--address-logo-color);
  cursor: pointer;
}

.work-menu-info {
  color: var(--primaty-text-color);
}

.work-classification {
  color: var(--tittle-tex-color);
}

/*                         АНІМОВАНЕ ВІКНО                       */
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-thumb::before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* opacity: 0; */
}

.portfolio-thumb:hover::before {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.text-img {
  position: absolute;
  /* width: 301px; */
  /* height: 196px; */
  top: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* opacity: 0; */
  margin-right: 45px;
  margin-left: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--starter-color);
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-thumb:hover .text-img {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* пробую робити бокс */
.work-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 90px;
}

.portfolio-items {
  max-width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  background-color: var(--starter-color);
  border: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolio-items:nth-child(n3) {
  margin-right: 0px;
}

.portfolio-items:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-figure {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: -1px;
}

.work-menu-info {
  border-left: 24px;
  border-right: 24px;
  border-bottom: 24px;
  margin-top: 10px;
  margin-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primaty-text-color);
}

.work-classification {
  border-left: 24px;
  border-right: 24px;
  border-bottom: 20px;
  margin-top: 4px;
  margin-left: 24px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--tittle-tex-color);
}

.portfolio-items:hover {
  -webkit-box-shadow: 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  top: 36%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

/*                     Дизайн MODAL-WINDOW                      */
.window-items-h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  padding-bottom: 12px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primaty-text-color);
}

.form {
  margin-left: 40px;
  margin-right: 40px;
}

.window-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.window-items label {
  margin-bottom: 4px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--tittle-tex-color);
}

.window-items input {
  padding: 10px 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.window-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--starter-color);
  background-color: var(--address-logo-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.window-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}

.window-textarea::-webkit-input-placeholder {
  padding-left: 16px;
  padding-top: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.window-textarea:-ms-input-placeholder {
  padding-left: 16px;
  padding-top: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.window-textarea::-ms-input-placeholder {
  padding-left: 16px;
  padding-top: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.window-textarea::placeholder {
  padding-left: 16px;
  padding-top: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.window-items textarea {
  max-width: 448px;
  max-height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.window-textarea:hover,
.widnow-textarea:focus {
  border-color: var(--address-logo-color);
  outline: none;
}

.window-items {
  position: relative;
}

.windows-svg {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  display: inline-block;
  width: 12px;
  height: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.window-input:hover,
.window-input:focus {
  border-color: var(--address-logo-color);
  outline: none;
}

.window-input:hover + .windows-svg,
.window-input:focus + .windows-svg {
  fill: var(--address-logo-color);
}

.widnow-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--address-logo-color);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.iconcheck {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox:checked + .iconcheck {
  background-image: url("../images/iconcheking.svg");
  background-color: var(--address-logo-color);
  background-size: contain;
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  border-color: var(--address-logo-color);
}

textarea {
  resize: none;
}
/*# sourceMappingURL=main.css.map */